/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
}

.header-logo {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.header-logo img {
  width: 150px;
}

.header-nav {
  width: 40%;
}

.header-nav,
.header-nav ul li {
  display: inline-block;
  vertical-align: middle;
}

.header-nav li a {
  margin-left: 15px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  transition: 1s;
}

.header-nav li a:hover {
  border: 2px solid #000;
  border-radius: 10px;
}

.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.abouta {
  text-align: center;
  padding: 10px 0;
  background-color: #f8f8f8f8;
}

.abouta-title {
  padding: 10px;
  font-size: 2rem;
  margin: 0 0 0 1rem;
  text-align: center;
}

.abouta p {
  padding: 10px;
  margin: 0 0 0 0.5rem;
}

.utens {
  width: 120px;
  border-radius: 15px;
  float: left;
  margin: 0 20px;
}

.abouta-mission em {
  color: red;
  text-transform: uppercase;
  font-style: italic;
}

.abouta-mission strong {
  font-weight: bold;
}

.maps {
  text-align: center;
  padding: 3rem 0;
  background: linear-gradient(#f8f8f8f8, #888);
}

.maps p {
  margin: 0.5rem 0;
}

.video {
  width: 90%;
  margin: 1rem auto;
}

.benefits {
  padding: 20px 20px;
  text-align: center;
  clear: left;
  background-color: #888;
}

.benefits-list {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  text-align: left;
  vertical-align: top;
}

.benefits-list li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.benefits-list li::before {
  content: "✪";
  padding: 0 10px;
}

.benefits-list li:first-of-type {
  color: #000;
  font-weight: bold;
}

.benefits-banner {
  display: inline-block;
}

.benefits-banner img {
  width: 800px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  padding: 10px;
}

footer {
  width: 100%;
  background-image: url("../img/bg.jpg");
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 0.625rem;
}
