/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
}

.header-logo {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.header-logo img {
  width: 150px;
}

.header-nav {
  width: 40%;
}

.header-nav,
.header-nav ul li {
  display: inline-block;
  vertical-align: middle;
}

.header-nav li a {
  margin-left: 15px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px;
}

.header-nav li a:hover {
  border: 2px solid #000;
  border-radius: 10px;
  transition: 1s;
}

.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.about {
  background-color: #ccc;
  text-align: center;
  padding: 10px 0;
}

.about-title {
  padding: 10px;
}

.about p {
  padding: 10px;
}

.about-mission em {
  color: red;
  text-transform: uppercase;
}

.benefits {
  padding: 20px 20px;
  text-align: center;
}

.benefits h2 {
  text-align: center;
  margin: 10px 0;
}

.benefits-list {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  text-align: left;
}

.benefits-banner {
  display: inline-block;
}

.benefits-banner img {
  width: 800px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  padding: 10px;
}

footer {
  width: 100%;
  background-image: url("../img/bg.jpg");
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 10px;
}
